* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#ctx {
  /* border: 1px solid #000; */
  image-rendering: pixelated;
}
.border {
  border: 1px solid black;
}

.h3__Style {
  padding: 8px;
}
.canvas-wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

.user-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-input__output {
  display: flex;
  justify-content: center;
}

.input {
  width: 100px;
  padding: 4px 8px;
}

.button {
  width: fit-content;
  cursor: pointer;
  border: 2px solid #1494df;
  border-radius: 5px;
  background: #12a4f9;
  padding: 5px 10px;
}
.input-wrapper {
  height: 100%;
  margin: 5px 5px;
  border: 1px solid #12a4f9;
  border-radius: 20px;
  width: 500px;
  margin-top: 20px;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.user-unit {
  width: 100%;
  max-width: 450px;
  margin: 5px 10px;
  padding: 5px 10px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
